<h6>Dashboard</h6>
<h3>Welcome {{user}}</h3>
<p>Your stories</p>

{{#if stories}}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Created At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr>
            <td><a href="/stories/{{_id}}">{{title}}</a></td>
            <td>{{formatDate createdAt 'YYYY-MM-DD HH:mm'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
        </tr>
        {{/each}}
    </tbody>

</table>

{{else}}
<p>You do not have any stories</p>

{{/if}}